html{
    overflow-x: hidden;
}
.bgimg{
    background-image: url('bgg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: rgb(6, 8, 38) !important;
   
}
.row{
    margin-right: calc(var(--bs-gutter-x) *0);
   
}
.list{
    list-style-type: none;
}
.hed{
color:orangered;
}